/** @format */

.App {
  max-width: 600px;
  display: block;
  margin: auto;
}

.header {
  text-align: center;
  border-bottom: solid 1px slategray;
  margin: 40px auto;
  max-width: 200px;
}

.container {
  margin-bottom: 30px;
  padding: 10px;
  border: solid 1px red;
}

.container img {
  width: 580px;
  height: 350px;
}

.nameANDprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: hsl(360, 67%, 44%);
}

.btn {
  display: block;
  margin: auto;
  width: 200px;
  color: hsl(360, 67%, 44%);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid hsl(360, 67%, 44%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
}

.btn:hover {
  background: hsl(360, 67%, 44%);
  color: white;
}
